<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- START GAZEBO -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <!-- SPAWN ROBOT -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rosbot)/urdf/robot.xacro'"/>
    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model rosbot -x 0 -y 0 -z 0"/>
</launch>