<?xml version="1.0" encoding="UTF-8"?>
<launch>
   
    <!-- GAZEBO -->
    <include file="$(find rosbot)/launch/gazebo.launch">
    </include>
    
    <!-- navigation, map server -->
     <param name="/use_sim_time" value="true"/>
     <node name="map_server" pkg="map_server" type="map_server" args="$(find rosbot)/map/map.yaml" output="screen" respawn="true">
          <param name="frame_id" value="map"/>
    </node>


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosbot)/cfg/simulation.rviz"/>


</launch>
